<h2>Students Detail</h2>

<div>
  <ul>
    <li>
      <strong>Name</strong>
      <%= @student.name %>
    </li>

    <li>
      <strong>Number</strong>
      <%= @student.number %>
    </li>
    
    <li>
      <strong>City</strong>
      <%= @student.city %>
    </li>

    <li>
      <strong>Descriptions</strong>
      <%= @student.descriptions %>
    </li>
  </ul>
</div>
<%= link_to 'Back', root_path%>